.noteEntry {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px;
}

.addNotes {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 10px;
}

.addNotes input {
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 5px;

  color: var(--primary-color);
  border: 1px solid var(--primary-color);
  text-align: left;
  padding: var(--padding-box);
  font-size: var(--size-medium);
}

.addNotes button {
  margin-right: 10px;
  font-size: var(--size-medium);
  outline: none;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;

  color: var(--primary-color);
  padding: var(--padding-box);
  transition: 0.15s ease-in-out;
  text-wrap: nowrap;
}

.addNotes button svg {
  position: relative;
  top: 2px;
  margin-left: 5px;
}

.annotations {
  display: flex;
  flex-direction: row;
}

.annotations > button {
  outline: none;
  border: none;
  margin-right: 15px;
  padding: var(--padding-box);
  background-color: var(--spotify-color);
  border: 2px solid var(--spotify-color);
  color: white;
  border-radius: 5px;
  transition: border-color 0.25s ease-in-out;
  cursor: pointer;
  font-size: var(--size-medium);
  position: relative;
}

.annotations > button:hover {
  border-color: var(--remove-color);
}

.annotations > button:last-of-type {
  margin-right: 0;
}

.addButton {
  border: 1px solid var(--spotify-color);
}

.addButton:hover {
  background-color: var(--spotify-color);
  color: white;
}

.clearButton {
  border: 1px solid var(--remove-color);
}

.clearButton:hover {
  background-color: var(--remove-color);
  color: white;
}

.cross {
  position: absolute;
  background-color: red;
  padding: 2px;
  font-size: 18px;
  border-radius: 50px;
  top: -8px;
  right: -8px;
}
