.noteEntry {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.addNotes {
  display: flex;
  flex-direction: row;
}

.addNotes input {
  outline: none;
  border: none;
  background-color: transparent;
  border-radius: 5px;

  color: white;
  border: 1px solid white;
  text-align: left;
  padding: var(--padding-box);
  font-size: var(--size-medium);
}

.addNotes button {
  margin-left: 10px;
  font-size: var(--size-medium);
  outline: none;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;

  color: white;
  padding: var(--padding-box);
  transition: 0.15s ease-in-out;
}

.addNotes button svg {
  position: relative;
  top: 2px;
  margin-left: 5px;
}

.annotations {
  display: flex;
  flex-direction: row;
}

.annotations > button {
  outline: none;
  border: none;
  margin-left: 10px;
  padding: var(--padding-box);
  background-color: var(--spotify-color);
  color: white;
  border-radius: 5px;
  transition: 0.15s ease-in-out;
  cursor: pointer;
  font-size: var(--size-small);
}

.addButton {
  border: 1px solid var(--spotify-color);
}

.addButton:hover {
  background-color: var(--spotify-color);
  color: white;
}

.clearButton {
  border: 1px solid var(--remove-color);
}

.clearButton:hover {
  background-color: var(--remove-color);
  color: white;
}
