.categoryTitle {
  margin-bottom: 5px;
  color: #c3c3c3;
  cursor: pointer;
  width: fit-content;
}

.categoryTitle svg,
.noMatches svg {
  position: relative;
  top: 2px;
  margin-right: 5px;
}

.scales {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.noMatches {
  margin: 5px;
  color: #bda95c;
}
