.categoryTitle {
  margin-left: 5px;
  color: #c3c3c3;
}

.scales {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin-bottom: 25px;
}

.scale {
  margin: 5px;
  padding: 5px 15px;
  width: fit-content;
  height: fit-content;
  border: 1px solid var(--spotify-color);
  border-radius: 5px;
  transition: 0.15s ease-in-out;
  cursor: pointer;
}

.scale:hover {
  background-color: var(--spotify-color);
  color: var(--background-color);
}

.noMatches {
  margin: 5px;
  color: #c3c3c3;
}
