@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

.footer {
  margin-top: 20px;
  border-top: 1px solid var(--spotify-color);
  color: lightgrey;
  padding: 35px var(--standard-padding);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.linkList {
  display: flex;
  flex-direction: column;
}

.linkList a {
  margin-top: 3px;
  text-decoration: none;
  color: inherit;
}

.linkList a svg {
  position: relative;
  top: 1px;
  margin-right: 5px;
}

.footer section {
  display: flex;
  flex-direction: column;
}

.title {
  font-weight: bold;
  color: white;
  font-family: "VT323", monospace;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
}

#center {
  max-width: 50%;
}

#center a {
  color: inherit;
  font-weight: bold;
  text-decoration: none;
}

#center * {
  text-align: center;
}

#right * {
  text-align: right;
}
