:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --primary-color: #e8e9eb;
  --background-color: #101010;
  --size-large: 50px;
  --size-medium: 25px;
  --size-small: 15px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;

  background-color: var(--background-color);
  color: var(--primary-color);
}

main {
  margin: 25px 0;
}

main > * {
  padding: 0 50px;
  margin-bottom: 25px;
}

main > *:last-child {
  margin-bottom: 0;
}
